<!DOCTYPE html>
<html lang="en">

<head>





    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renter History</title>


    <!-- update the version number as needed -->
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-functions.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Font Awesome CDN -->
    <script src="https://kit.fontawesome.com/2d10b7aa43.js" crossorigin="anonymous"></script>

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/api/css/styles.css">

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="/api/images/logo.png" width="70" height="50" alt=""> Sami Room
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/api/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/renter/requests">Tracking orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/renter/History/0/0/0">History records</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/sessionLogout">Log out</a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>


    <style>
        * {
            box-sizing: border-box;
        }

        #myInput {
            background-image: url('/images/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

        #myTable th,
        #myTable td {
            text-align: left;
            padding: 12px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

        #myTable tr.header,
        #myTable tr:hover {
            background-color: #f1f1f1;
        }

        .btnStyle {
            font-size: 20px;
            border: none;
            background-color: white;
            font-size: 5px;
            padding: 5px;
        }

        .buttonS {
            font: bold 18px Arial;
            text-decoration: none;
            background-color: #EEEEEE;
            color: #333333;
            padding: 2px 6px 2px 6px;
            border-top: 1px solid #CCCCCC;
            border-right: 1px solid #333333;
            border-bottom: 1px solid #333333;
            border-left: 1px solid #CCCCCC;
        }
    </style>

    <link rel="stylesheet" href="/api/css/stStyle.css">
</head>

<body>
    <h2>Selling records</h2>
    <label for="filter">choose field:</label>
    <select  id="filter" name="filter">
        <option value="filterPrice">Price</option>
        <option value="filterRoom">Rooms</option>
        <option value="filterDate">By month</option>
    </select>
    <input id="fromFilter" type="text" size="10px" onkeypress="return (event.charCode > 47 && 
    event.charCode <58 )">
    <input id="toFilter" type="text" size="10px" onkeypress="return (event.charCode > 47 && 
    event.charCode <58 )">

    <input onclick="sendData()" type="submit">
    <div>
        <form>
            <button onClick="window.location.href= 'window.location.href= '/api/'">Clear</button>
        </form>
    </div>
    <div>
        <h1>Total income(filtered)</h1>
        <h1><%= totalSum  %></h1>    
    </div>
    <input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search for names.." title="Type in a name">

    <table id="myTable">
        <thead>
            <tr>
                <th>
                    <div>Unit Id</div>
                </th>
                <th>
                    <div>Rooms</div>
                </th>
                <th>
                    <div>Start Date</div>
                </th>
                <th>
                    <div>End Date</div>
                </th>
                <th>
                    <div>Daily income</div>
                </th>
                <th>
                    <div>Total sum</div>
                </th>
            </tr>
        </thead>
        <tbody id="tableBody">
            <% for(var i = 0; i < l.length; i++) { var obj = l[i];%>
                <% if(obj.sold == "true") { %>
                    <tr bgcolor = "green" >
                    <td><a href="#"><%= obj.unitId      %></a></td>
                    <td><a href="#"><%= obj.rooms         %></a></td>
                    <td><a href="#"><%= obj.data.startDate.toDate().toISOString().split('T')[0]     %></a></td>
                    <td><a href="#"><%= obj.data.endDate.toDate().toISOString().split('T')[0]       %></a></td>
                    <td><a href="#"></a></td> <!--  ADD DAILYYYYYYYYYYYYYYYY-->
                    <td><a href="#"><%= obj.data.billTotal        %></a></td>     
                <% }else{ %>
                    <tr bgcolor = "red" >
                    <td><a href="#"><%= obj.unitId      %></a></td>
                    <td><a href="#"><%= obj.data.rooms         %></a></td>
                    <td><a href="#"><%= obj.data.startDate.toDate().toISOString().split('T')[0]     %></a></td>
                    <td><a href="#"><%= obj.data.endDate.toDate().toISOString().split('T')[0]       %></a></td>
                    <td><a href="#"></a></td> <!--  ADD DAILYYYYYYYYYYYYYYYY-->
                    <td><a href="#"><%= obj.data.price        %></a></td>    
                <% } %>    
                    
                   
                </tr>
                <% } %>
        </tbody>
    </table>

    <script type="text/javascript" src="/api/js/stHistory.js"></script>


    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div id="modalUnits" class="modalContent">
            <span class="close">&times;</span>
            <p>unit information</p>
            <form name="modalName">
                <fieldset disabled>
                    <legend>Contact Form</legend>
                    <p>Unit location: <input id="locationModal" type="text" size="30"></p>
                    <p>Rooms: <input id="roomzModal" type="text" size="30"></p>
                    <p>Price: <input id="priceModal" type="text" size="30"></p>
                    <p>Rating: <input id="ratingModal" type="text" size="30"></p>
                    <p>Owner name: <input id="ownerNameModal" type="text" size="30"></p>
                    <p>From date: <input id="startDateModal" type="text" size="30"></p>
                    <p>Minimum order date: <input id="minDateModal" type="text" size="30"></p>
                    <p>Until date: <input id="endDateModal" type="text" size="30"></p>
                    <p>Phone number: <input id="phoneNumberModal" type="text" size="30"></p>
                </fieldset>
                <fieldset>
                    <a id="orderRef" style="float:right; cursor : pointer;" class="buttonS">continue</a>
                    <button style="float:right; cursor : pointer; margin-right: 5px"
                        onclick="closeWindow()">cancel</button>
                </fieldset>
                <div id="imageContainer">

                </div>
            </form>
        </div>
        <div id="modalOrder" class="modalContent2">
            <span class="close">&times;</span>
            <p>Order information</p>
            <form name="modalName">
                <fieldset>
                    <legend> Contact Form</legend>
                    <div>
                        <span class="form-sub-label-container " style="vertical-align:top" data-input-type="first">
                            <label for="first_2" id="sublabel_2_first" style="min-height:13px" aria-hidden="false">
                                First Name </label>
                            <input type="text" id="first_2" size="10" value="" data-component="first"
                                aria-labelledby="label_2 sublabel_2_first" />
                        </span>
                        <span class="form-sub-label-container " style="vertical-align:top" data-input-type="last">
                            <label for="last_2" id="sublabel_2_last" style="min-height:13px" aria-hidden="false">
                                Last Name </label>
                            <input type="text" id="last_2" size="15" value="" data-component="last"
                                aria-labelledby="label_2 sublabel_2_last" />
                        </span>
                    </div>

                    <div>
                        <label>Email</label>
                        <input type="email" id="input_3" size="30" value="" placeholder="ex: myname@example.com"
                            data-component="email" aria-labelledby="label_3" />
                    </div>

                    <div>
                        <label>Contact number</label>
                        <input type="text" id="phone number" size="15" value="" data-component="last"
                            aria-labelledby="label_2 sublabel_2_last" />
                    </div>

                    <div>
                        <label>From date</label>
                        <input type="text" id="startDate" size="10" placeholder="dd-mm-yyyy">
                        <label>Minimum order date</label>
                        <input type="text" id="minDate" size="10" placeholder="dd-mm-yyyy">
                        <label>to date</label>
                        <input type="text" id="endDate" size="10" placeholder="dd-mm-yyyy">
                    </div>
                    <div>
                        <div>
                            <label>special requests</label>
                        </div>
                        <div>
                            <textarea id="specialRequests" rows="6" data-component="textarea"
                                aria-labelledby="label_14"></textarea>
                        </div>

                        <table class="form-address-table payment-form-table" style="border:0" cellPadding="0"
                            cellSpacing="0">
                            <tbody>
                                <tr>
                                    <th colSpan="2" style="text-align:left;margin-top:20px;display:table"
                                        id="ccTitle17">
                                        Credit Card
                                    </th>
                                </tr>
                                <tr>
                                    <td width="50%">
                                        <span class="form-sub-label-container " style="vertical-align:top">
                                            <input type="text" id="input_17_cc_firstName"
                                                name="q17_myProducts[cc_firstName]" class="form-textbox cc_firstName"
                                                size="20" value="" data-component="cc_firstName" />
                                            <label class="form-sub-label" for="input_17_cc_firstName"
                                                id="sublabel_cc_firstName" style="min-height:13px;margin:0 0 3px 0"
                                                aria-hidden="false"> First Name </label>
                                        </span>
                                    </td>
                                    <td width="50%">
                                        <span class="form-sub-label-container " style="vertical-align:top">
                                            <input type="text" id="input_17_cc_lastName"
                                                name="q17_myProducts[cc_lastName]" class="form-textbox cc_lastName"
                                                size="20" value="" data-component="cc_lastName" />
                                            <label class="form-sub-label" for="input_17_cc_lastName"
                                                id="sublabel_cc_lastName" style="min-height:13px;margin:0 0 3px 0"
                                                aria-hidden="false"> Last Name </label>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%">
                                        <span class="form-sub-label-container " style="vertical-align:top">
                                            <input type="text" id="input_17_cc_number" name="q17_myProducts[cc_number]"
                                                class="form-textbox cc_number" size="20" value=""
                                                data-component="cc_number" autocomplete="cc-number" autocapitalize="off"
                                                autocorrect="off" spellcheck="off" type="tel" pattern="\d*"
                                                maxlength="16" placeholder="•••• •••• •••• ••••"
                                                style="font-size: 14px;" />
                                            <label class="form-sub-label" for="square_cc_number" id="sublabel_cc_number"
                                                style="min-height:13px;margin:0 0 3px 0" aria-hidden="false"> Credit
                                                Card Number </label>
                                        </span>
                                    </td>
                                    <td width="50%">
                                        <span class="form-sub-label-container " style="vertical-align:top">
                                            <input type="text" id="input_17_cc_ccv" name="q17_myProducts[cc_ccv]"
                                                class="form-textbox cc_ccv" size="20" value="" data-component="cc_ccv"
                                                autocomplete="cc-csc" autocapitalize="off" autocorrect="off"
                                                spellcheck="off" type="tel" pattern="\d*" maxlength="3"
                                                placeholder="CVV" style="font-size: 14px;">
                                            <label class="form-sub-label" for="square_cc_ccv" id="sublabel_cc_ccv"
                                                style="min-height:13px;margin:0 0 3px 0" aria-hidden="false">
                                                Security Code </label>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%">
                                        <span class="form-sub-label-container " style="vertical-align:top">
                                            <input type="text" id="input_17_cc_exp" name="q17_myProducts[cc_exp]"
                                                class="form-textbox cc_exp" size="20" value="" data-component="cc_exp"
                                                autocomplete="disabled" autocapitalize="off" autocorrect="off"
                                                spellcheck="off" type="tel" pattern="\d*" maxlength="4"
                                                placeholder="MM/YY" style="font-size: 14px;" />
                                            <label class="form-sub-label" for="square_cc_exp" id="sublabel_cc_exp"
                                                style="min-height:13px;margin:0 0 3px 0" aria-hidden="false">
                                                Expiration Date </label>
                                        </span>
                                    </td>
                                    <td width="50%">
                                        <span class="form-sub-label-container " style="vertical-align:top">
                                            <input type="text" id="input_17_cc_postal" name="q17_myProducts[cc_postal]"
                                                class="form-textbox cc_postal" size="20" value=""
                                                data-component="cc_postal" autocomplete="shipping postal-code"
                                                autocapitalize="off" autocorrect="off" spellcheck="off" type="text"
                                                maxlength="12" style="font-size: 14px;" />
                                            <label class="form-sub-label" for="square_cc_postal" id="sublabel_cc_postal"
                                                style="min-height:13px;margin:0 0 3px 0" aria-hidden="false"> Postal
                                                Code </label>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <button style="float:right; cursor: pointer;" onclick="CompleteOrder()">Finish</button>
                            <button style="float:right; cursor : pointer; margin-right: 5px"
                                onclick="closeWindow()">cancel</button>

                        </div>

                    </div>


                </fieldset>
        </div>


        </form>
    </div>

    </div>
</body>

</html>