<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renter tracking</title>
   
        
    <!-- update the version number as needed -->
    <script  src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script  src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
    <script  src="https://www.gstatic.com/firebasejs/7.14.2/firebase-database.js"></script>
    <script  src="https://www.gstatic.com/firebasejs/7.14.2/firebase-messaging.js"></script>
    <script  src="https://www.gstatic.com/firebasejs/7.14.2/firebase-storage.js"></script>
    <script src= "https://www.gstatic.com/firebasejs/7.14.2/firebase-functions.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Font Awesome CDN -->
    <script src="https://kit.fontawesome.com/2d10b7aa43.js" crossorigin="anonymous"></script>
    
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/projectmanagement-612b8.appspot.com/o/css%2Fstyles.css?alt=media&token=e61b48ec-2a48-454a-a9ac-4dfb593f5ac3">
    
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="https://firebasestorage.googleapis.com/v0/b/projectmanagement-612b8.appspot.com/o/icons%2Flogo.png?alt=media&token=b9db8506-c404-4f13-956e-ce2142292e0a" width="50" height="70" alt=""> Sami Room
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tracking orders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/renter/History/0/0/0">History records</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sessionLogout">Log out</a>
                </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
            </div>
        </nav>
    </div>


    <style>
        * {
          box-sizing: border-box;
        }
        
        #myInput {
          background-image: url('https://firebasestorage.googleapis.com/v0/b/projectmanagement-612b8.appspot.com/o/icons%2Fsearchicon.png?alt=media&token=5194973f-da73-43b3-9847-6d63c8674dd2');
          background-position: 10px 10px;
          background-repeat: no-repeat;
          width: 100%;
          font-size: 16px;
          padding: 12px 20px 12px 40px;
          border: 1px solid #ddd;
          margin-bottom: 12px;
        }
        
        #myTable {
          border-collapse: collapse;
          width: 100%;
          border: 1px solid #ddd;
          font-size: 18px;
        }
        
        #myTable th, #myTable td {
          text-align: left;
          padding: 12px;
        }
        
        #myTable tr {
          border-bottom: 1px solid #ddd;
        }
        
        #myTable tr.header, #myTable tr:hover {
          background-color: #f1f1f1;
        }
    </style>
     <h1>Appartment Lease Contract's Available.</h1>
</head>


<table id="myTable">
    <tr >
        <th>Unit Id</th>
        <th >First name</th>
        <th >last name</th>
        <th >Email</th>
        <th >Phone Number</th>
        <th >starting date</th>
        <th >ending date</th>
        <th >Billing overall</th>
        <th >Accept Contract</th>

    </tr>
    <tbody id="myTable">
      <% for(var i = 0; i < l.length; i++) { var obj = l[i];%>
        <tr>
            <tl>
                <td><a href="#"> <%= obj.unitId      %></a></td>
                <td><a href="#"> <%= obj.data.firstName         %></a></td>
                <td><a href="#"> <%= obj.data.lastName         %></a></td>
                <td><a href="#"> <%= obj.data.email        %></a></td>
                <td><a href="#"> <%= obj.data.phoneNumber     %></a></td>
                <td><a href="#"><%= obj.data.startDate.toDate().toISOString().split('T')[0]     %></a></td>
                <td><a href="#"><%= obj.data.endDate.toDate().toISOString().split('T')[0]       %></a></td>
                <td><a href="#"> <%= obj.data.billTotal   %></a></td>
                <td><button value = <%= obj.id %> onclick="Approved(this)">V</button><button value =<%= obj.id   %> onclick="Declined(this)">X</button></td>
            </tl>
        </tr>
        <% } %>
    </tbody>
</table>

<script src="/js/rentTrackApp.js"></script>

<!------------------------------ end head ------------------------------>

<body>


</body>
<!------------------------------ end body ------------------------------>

</html>