<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renter Homepage</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>

    <!-- Font Awesome CDN -->
    <script src="https://kit.fontawesome.com/2d10b7aa43.js" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-storage.js"></script>

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/api/css/styles.css">

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="/api/images/logo.png" width="50" height="70" alt=""> Sami Room
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/api/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/renter/requests">Tracking orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/renter/History/0/0/0">History records</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/sessionLogout">Log out</a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>


    <style>
        * {
            box-sizing: border-box;
        }

        #myInput {
            background-image: url('/images/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

        #myTable th,
        #myTable td {
            text-align: left;
            padding: 12px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

        #myTable tr.header,
        #myTable tr:hover {
            background-color: #f1f1f1;
        }

        .renterButtons {
            display: flex;
            margin: 2px;
            display: inline;
        }

        .actionButtons {
            display: flex;
            margin: 2px;
            display: inline;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 50px;
            left: 0;
            top: 0;
            width: 50%;
            height: 100%;
            overflow: auto;
            /* background-color: rgb(0, 0, 0); */
            /* background-color: rgba(0, 0, 0, 0.4); */
        }

        .modalEditInfo {
            background-color: #fefefe;
            margin: auto;
            padding: 5px;
            border: 1px solid rgb(0, 0, 0);
            width: 60%;
        }


        .modalEditInfoTwo {
            background-color: #fefefe;
            margin: auto;
            padding: 5px;
            border: 1px solid rgb(0, 0, 0);
            width: 80%;
        }

        .modalEditInfoThree {
            background-color: #fefefe;
            margin: auto;
            padding: 5px;
            border: 1px solid rgb(0, 0, 0);
            width: 80%;
        }

        .close {
            color: #030303;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        /* Extra styles for the cancel button */
        .cancelbtn,
        .saveChangesBtn {
            float: left;
            width: 50%;
        }
    </style>

    <script>
        /*This function have to be implemented!*/
        function showMyContractsFunction() {

        }

        function addNewAppartmentFunction() {
            const modalVar = document.getElementById("myModal");
            const modalVarOne = document.getElementById("modalOne");
            modalVarOne.style.display = "none";
            modalVar.style.display = "block";

            const modalVarTwo = document.getElementById("modalTwo");
            modalVarTwo.style.display = "none";

            const modalVarThree = document.getElementById("modalThree");
            modalVarThree.style.display = "block";

            var closeSpan = document.getElementById("closeThree");
            closeSpan.onclick = function () {
                const modalVar = document.getElementById("myModal");
                modalVar.style.display = "none";
            }

            var cancelSpan = document.getElementById("cancelThree");
            cancelSpan.onclick = function () {
                const modalVar = document.getElementById("myModal");
                modalVar.style.display = "none";
            }
            let imgsUrls = [];
            var saveSpan = document.getElementById("saveThree");
            saveSpan.onclick = function () {
            const modalVar = document.getElementById("myModal");
            const form = document.getElementById("editInfoFormThree");
            //function for testing dates.
            //********************
            const startDateModalThree = document.getElementById("startDateModalThree");
            const endDateModalThree = document.getElementById("endDateModalThree");
            const minDateModalThree = document.getElementById("minDateModalThree");
            var date1 = new Date(startDateModalThree.value);
            var date2 = new Date(endDateModalThree.value);
            var date3 = new Date(minDateModalThree.value);
            var diff = (date2 - date3) / 1000;
            var diff2 = (date3 - date1) / 1000;
            var diff3 = (date2 - date1) / 1000;
            var days = Math.floor(diff / 86400);
            var days3 = Math.floor(diff2 / 86400);
            var days2 = Math.floor(diff2 / 86400);
            if(days<0 ||days3<0||days2<0)
            {
                alert("Please enter a valid Until Date");
                return;
            }
            //checking that all the form is filled.
            //********************
            const loc= document.getElementById("locationModalThree");
            const loc2= document.getElementById("roomzModalThree");
            const loc3= document.getElementById("priceModalThree");
            const loc4= document.getElementById("ratingModalThree");
            const loc5= document.getElementById("ownerNameModalThree");
            const loc6= document.getElementById("startDateModalThree");
            const loc7= document.getElementById("endDateModalThree");
            const loc8= document.getElementById("minDateModalThree");
            const loc9= document.getElementById("phoneNumberModalThree");
            const loc0= document.getElementById("descriptionModalThree");
            if(loc.value==""||loc2.value==""||loc3.value==""||loc4.value==""||loc5.value==""||
            loc6.value==""||loc7.value==""||loc8.value==""||loc9.value==""||loc0.value=="")
            {
                alert("Missing information");
                return;
            }



           //     var fDateThree = new Date(form.fromDateThree.value);
          //      var uDateThree = new Date(form.untilDateThree.value);
/*
                if (fDateThree.getTime() - uDateThree.getTime() > 0) {
                    alert('Invalid Dates, From-Date is Greater than Until-Date, try again!');
                    return;
                }*/

                fetch("/addUnit", {
                    method: "POST",
                    headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json",
                        "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                    },
                    body: JSON.stringify({
                        endDate: form.untilDateThree.value, //1
                        location: form.locationThree.value, //1 
                        ownerName: form.ownerThree.value,   //1
                        phoneNumber: form.phoneThree.value, // 1
                        price: form.priceThree.value,       //1
                        rating: form.ratingThree.value,     // 1
                        rooms: form.roomsThree.value,           //1
                        startDate: form.fromDateThree.value, //1
                        hasPictures: imgsUrls,               //1
                        minDate: form.minimumDateThree.value, //1
                        description: form.descriptionThree.value
                    }),
                })

                    .then(response => response.json())
                    .then(function (resJ) {
                        //console.log(resJ.data);
                        location.reload();
                    }).catch(function (error) {
                        console.log('data error');
                    });
            };
            const fileButton = document.getElementById("img");
            fileButton.addEventListener('change', function (e) {
                const form = document.getElementById("editInfoFormThree");
                console.log(imgsUrls);

                //Get files
                for (var i = 0; i < e.target.files.length; i++) {
                    var imageFile = e.target.files[i];
                    uploadImageAsPromise(imageFile, form.ownerThree.value);
                }
            });
            function uploadImageAsPromise(imageFile, pathImg) {
                return new Promise(function (resolve, reject) {
                    var storageRef = firebase.storage().ref("unitsImages/" + pathImg + "/" + imageFile.name);

                    //Upload file
                    var task = storageRef.put(imageFile).then((snapShot) => {
                        snapShot.ref.getDownloadURL().then(function (url) {
                            console.log(url);
                            imgsUrls.push(url);
                        });
                    });

                    //Update progress bar

                });
            }


            function editInfoFunction() {
                const modalVar = document.getElementById("myModal");
                const modalVarOne = document.getElementById("modalOne");
                modalVarOne.style.display = "block";
                modalVar.style.display = "block";

                const modalVarTwo = document.getElementById("modalTwo");
                modalVarTwo.style.display = "none";

                const modalVarThree = document.getElementById("modalThree");
                modalVarThree.style.display = "none";

                var closeSpan = document.getElementsByClassName("close")[0];
                closeSpan.onclick = function () {
                    modalVar.style.display = "none";
                }
                window.onclick = function (event) {
                    if (event.target == modalVar) {
                        modalVar.style.display = "none";
                    }
                }

                var cancelSpan = document.getElementById("cancelOne");
                cancelSpan.onclick = function () {
                    modalVar.style.display = "none";
                }

                var saveSpan = document.getElementById("saveOne");
                saveSpan.onclick = function () {
                    // INSERT CHANGES HERE
                    
                    modalVar.style.display = "none";
                }
            }
        }

    </script>

</head>

<body>

    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div id="modalOne" class="modalEditInfo">
            <span class="close">&times;</span>
            <form id="editInfoForm">
                <h2>Edit Personal Information</h2>

                <label for="email"><b>New Email</b></label>
                <input id="newEmail" type="text" placeholder="Enter Email" name="email" required>

                <label for="bankAcoount"><b>New Bank Account</b></label>
                <input id="newBankAccount" type="text" placeholder="Enter Bank Account" name="bankAccount" required>

            </form>
            <div class="clearfix">
                <button id="saveOne" type="submit" class="saveChangesBtn" onclick="saveChanges()">Save Changes</button>
                <button id="cancelOne" type="button" class="cancelbtn" onclick="cancelModal()">Cancel</button>
            </div>
        </div>

        <div id="modalTwo" class="modalEditInfoTwo">
            <span id="closeTwo" class="close">&times;</span>
            <form id="editInfoFormTwo">
                <h2>Edit Unit Information</h2>

                <form name="modalName">
                    <legend>Contact Form</legend>
                    <p>Unit location: <input id="locationModal" name="location" onkeypress="return (event.charCode > 64 && 
                        event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode==32)" type="text" size="30"></p>
                    <p>Rooms: <input id="roomzModal" name="rooms" onkeypress="return (event.charCode > 47 && 
                        event.charCode < 58)" maxlength="1" type="text" size="30"></p>
                    <p>Price: <input id="priceModal" name="price" onkeypress="return (event.charCode > 47 && 
                        event.charCode < 58)" type="text" size="30"></p>
                    <p>Rating: <input id="ratingModal" name="rating" onkeypress="return (event.charCode > 47 && 
                        event.charCode < 53)" maxlength="1" type="text" size="30"></p>
                    <p>Owner name: <input id="ownerNameModal" name="owner" onkeypress="return (event.charCode > 64 && 
                        event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)" type="text" size="30"></p>

                    <p>From Date: <input placeholder="From Date" class="textbox-n" type="text"
                            onfocus="(this.type='date')" id="startDateModal" name="fromDate"></p>

                    <p>Until Date: <input placeholder="Until Date" class="textbox-n" type="text"
                            onfocus="(this.type='date')" id="endDateModal" name="untilDate"></p>

                    <p>Minimum Order: <input placeholder="Minimum Order" class="textbox-n" type="text"
                            onfocus="(this.type='date')" id="minDateModal" name="minimumDate"></p>

                    <p>Phone number: <input id="phoneNumberModal" name="phone" onkeypress="return (event.charCode > 47 && 
                        event.charCode < 58)" maxlength="10" type="text" size="30"></p>

                    <p>Description: <input id="descriptionModal" name="description" type="text" size="30"></p>

                    <fieldset disabled>
                        <p>Unique UID: <input id="savChangesB" name="uid" type="text" size="30"></p>
                    </fieldset>

                </form>

            </form>
            <div class="clearfix">
                <button id="saveTwo" type="submit" class="saveChangesBtn" onclick="saveChanges()">Save Changes</button>
                <button id="cancelTwo" type="button" class="cancelbtn" onclick="cancelModal()">Cancel</button>
            </div>
        </div>

        <div id="modalThree" class="modalEditInfoThree">
            <span id="closeThree" class="close">&times;</span>
            <form id="editInfoFormThree">
                <h2>Add New Apartment</h2>

                <form name="modalNameThree">
                    <legend>Contact Form</legend>
                    <p>Unit location: <input id="locationModalThree" name="locationThree" placeholder="e.g Ashdod" onkeypress="return (event.charCode > 64 && 
                        event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode==32)" type="text" size="30"></p>
                    <p>Rooms: <input id="roomzModalThree" name="roomsThree" placeholder="Appartment's rooms(max 9)" onkeypress="return (event.charCode > 47 && 
                        event.charCode < 58)" maxlength="1" type="text" size="30"></p>
                    <p>Price: <input id="priceModalThree" name="priceThree" placeholder="e.g 500" onkeypress="return (event.charCode > 47 && 
                        event.charCode < 58)" type="text" size="30"></p>
                    <p>Rating: <input id="ratingModalThree" name="ratingThree" placeholder="0-5" onkeypress="return (event.charCode > 47 && 
                        event.charCode < 54)" maxlength="1" type="text" size="30"></p>
                    <p>Owner name: <input id="ownerNameModalThree" name="ownerThree" placeholder="e.g 'rami'" onkeypress="return (event.charCode > 64 && 
                        event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)" type="text" size="30"></p>
                        <!--------------------------------------------------------------------------------------------------------------------->

                    <p>From Date: <input  placeholder="From Date" class="textbox-n" type="text"
                            onfocus="(this.type='date')" id="startDateModalThree" name="fromDateThree"></p>
                    <p>Until Date: <input   placeholder="Until Date" class="textbox-n" type="text"
                            onfocus="(this.type='date')" id="endDateModalThree" name="untilDateThree"  ></p>

                    <p>Minimum Order: <input  id="minDateModalThree" placeholder="Minimum leasing month"  class="textbox-n" type="text"
                            onfocus="(this.type='date')" id="minDateModalThree" name="minimumDateThree"></p>

                    <p>Phone number: <input id="phoneNumberModalThree" name="phoneThree" placeholder="e.g 0548547216" maxlength="10" placeholder="0548547216" onkeypress="return (event.charCode > 47 && 
                        event.charCode < 58)" type="text" size="30"></p>

                    <p>Description: <input id="descriptionModalThree" name="descriptionThree" placeholder="e.g 2nd floor,view to the park." type="text" size="30"></p>

                    <div id="imgup">
                        <label for="img">Add unit images</label>
                        <input type="file" multiple="multiple" id="img" name="img" accept="image/*"><br>
                    </div>


                    <img id="prevImage" />
                </form>

            </form>
            <div class="clearfix">
                <button id="saveThree" type="button" class="saveChangesBtn" onclick="saveChanges()">Save
                    Changes</button>
                <button id="cancelThree" type="button" class="cancelbtn" onclick="cancelModal()">Cancel</button>
            </div>
        </div>

    </div>
    <!--checks if the leasing date and minimum date are valid-->
    
    <div class="renterButtons">
        <div class="actionButtons">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick=addNewAppartmentFunction();>Add
                New Appartment</button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick=showMyContractsFunction();>Show
                My Contratcs</button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick=editInfoFunction();>Edit User
                Info</button>
        </div>
    </div>

    <input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search for names.." title="Type in a name">

    <h2>Appartments</h2>
    <table id="myTable">
        <thead>
            <tr>
                <th>
                    <div>Location<button class="button btnStyle" onclick="sortUp('location')"> <img
                                src="/images/sortUp.jpg"> </button> <button id="sortDown" class="button btnStyle"
                            onclick="sortDown('location')"><img src="/images/sortDown.jpg"></button></div>
                </th>
                <th>
                    <div>Rooms<button class="button btnStyle" onclick="sortUp('rooms')"> <img src="/images/sortUp.jpg">
                        </button> <button id="sortDown" class="button btnStyle" onclick="sortDown('rooms')"><img
                                src="/images/sortDown.jpg"></button></div>
                </th>
                <th>
                    <div>Price<button class="button btnStyle" onclick="sortUp('price')"> <img src="/images/sortUp.jpg">
                        </button> <button id="sortDown" class="button btnStyle" onclick="sortDown('price')"><img
                                src="/images/sortDown.jpg"></button></div>
                </th>
                <th>
                    <div>Rating<button class="button btnStyle" onclick="sortUp('rating')"> <img
                                src="/images/sortUp.jpg"> </button> <button id="sortDown" class="button btnStyle"
                            onclick="sortDown('rating')"><img src="/images/sortDown.jpg"></button></div>
                </th>
                <th>
                    <div>Owner name<button class="button btnStyle" onclick="sortUp('ownerName')"> <img
                                src="/images/sortUp.jpg"> </button> <button id="sortDown" class="button btnStyle"
                            onclick="sortDown('ownerName')"><img src="/images/sortDown.jpg"></button></div>
                </th>
                <!-- Sort up / Sort down - have to be implemented in the future! -->
                <th>
                    <div>Start date<button class="button btnStyle"> <img src="/images/sortUp.jpg"> </button> <button
                            id="sortDown" class="button btnStyle"><img src="/images/sortDown.jpg"></button></div>
                </th>
                <th>
                    <div>Minimum Order Date<button class="button btnStyle"> <img src="/images/sortUp.jpg"> </button>
                        <button id="sortDown" class="button btnStyle"><img src="/images/sortDown.jpg"></button>
                    </div>
                </th>
                <th>
                    <div>End date<button class="button btnStyle"> <img src="/images/sortUp.jpg"> </button> <button
                            id="sortDown" class="button btnStyle"><img src="/images/sortDown.jpg"></button></div>
                </th>
                <th>Phone number</th>
                <th>picture</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            <% for(var i = 0; i < l.length; i++) { var obj = l[i];%>
            <tr>
                <tl>
                    <td><a href="#"><%= obj.data.location      %></a></td>
                    <td><a href="#"><%= obj.data.rooms         %></a></td>
                    <td><a href="#"><%= obj.data.price         %></a></td>
                    <td><a href="#"><%= obj.data.rating        %></a></td>
                    <td><a href="#"><%= obj.data.ownerName     %></a></td>
                    <td><a href="#"><%= obj.data.startDate.toDate().toISOString().split('T')[0]     %></a></td>
                    <td><a href="#"><%= obj.data.minDate.toDate().toISOString().split('T')[0]     %></a></td>
                    <td><a href="#"><%= obj.data.endDate.toDate().toISOString().split('T')[0]       %></a></td>
                    <td><a href="#"><%= obj.data.phoneNumber    %></a></td>
                    <td><a href="#"><img src=""></a></td>
                    <td style="display:none;"><button value=<%= obj.id %>> </button></td>
                    <td style="display: none;"><a href="#"><%= obj.data.description   %></a></td>

                </tl>
            </tr>
            <% } %>
        </tbody>
    </table>
    <script type="text/javascript" src="/js/rentApp.js"></script>

</body>

</html>