<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renter Homepage</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>

    <!-- Font Awesome CDN -->
    <script src="https://kit.fontawesome.com/2d10b7aa43.js" crossorigin="anonymous"></script>
    <script  src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
    <script  src="https://www.gstatic.com/firebasejs/7.14.2/firebase-storage.js"></script>

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/css/styles.css">

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="/images/logo.png" width="50" height="70" alt=""> Sami Room
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/renter/requests">Tracking orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sessionLogout">Log out</a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>


    <style>
        * {
            box-sizing: border-box;
        }

        #myInput {
            background-image: url('/images/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

        #myTable th,
        #myTable td {
            text-align: left;
            padding: 12px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

        #myTable tr.header,
        #myTable tr:hover {
            background-color: #f1f1f1;
        }

        .renterButtons {
            display: flex;
            margin: 2px;
            display: inline;
        }

        .actionButtons {
            display: flex;
            margin: 2px;
            display: inline;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modalEditInfo {
            background-color: #fefefe;
            margin: auto;
            padding: 5px;
            border: 1px solid rgb(0, 0, 0);
            width: 60%;
        }


        .modalEditInfoTwo {
            background-color: #fefefe;
            margin: auto;
            padding: 5px;
            border: 1px solid rgb(0, 0, 0);
            width: 80%;
        }

        .modalEditInfoThree {
            background-color: #fefefe;
            margin: auto;
            padding: 5px;
            border: 1px solid rgb(0, 0, 0);
            width: 80%;
        }

        .close {
            color: #030303;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        /* Extra styles for the cancel button */
        .cancelbtn,
        .saveChangesBtn {
            float: left;
            width: 50%;
        }
    </style>

    <script>
        /*This function have to be implemented!*/
        function showMyContractsFunction() {

        }

        function addNewAppartmentFunction() {
            const modalVar = document.getElementById("myModal");
            const modalVarOne = document.getElementById("modalOne");
            modalVarOne.style.display = "none";
            modalVar.style.display = "block";

            const modalVarTwo = document.getElementById("modalTwo");
            modalVarTwo.style.display = "none";

            const modalVarThree = document.getElementById("modalThree");
            modalVarThree.style.display = "block";

            var closeSpan = document.getElementById("closeThree");
            closeSpan.onclick = function () {
                const modalVar = document.getElementById("myModal");
                modalVar.style.display = "none";
            }

            var cancelSpan = document.getElementById("cancelThree");
            cancelSpan.onclick = function () {
                const modalVar = document.getElementById("myModal");
                modalVar.style.display = "none";
            }
            let imgsUrls=[];
            var saveSpan = document.getElementById("saveThree");
            saveSpan.onclick = function () {
                const modalVar = document.getElementById("myModal");
                const form = document.getElementById("editInfoFormThree");
                
                //request to db to update data
                fetch("/addUnit", {
                    method: "POST",
                    headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json",
                        "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                    },
                    body: JSON.stringify({
                        endDate: form.untilDate.value, //1
                        location: form.location.value, //1 
                        ownerName: form.owner.value, //1
                        phoneNumber: form.phone.value, // 1
                        price: form.price.value, //1
                        rating: form.rating.value, // 1
                        rooms: form.rooms.value, //1
                        startDate: form.fromDate.value, //1
                        hasPictures:imgsUrls,    //1
                        minDate:"01-01-2020" //1
                    }),
                })

                    .then(response => response.json())
                    .then(function (resJ) {
                        //console.log(resJ.data);
                        location.reload();
                    }).catch(function (error) {
                        console.log('data error');
                    });
            };
            const fileButton = document.getElementById("img");
            fileButton.addEventListener('change', function(e){ 
                const form = document.getElementById("editInfoFormThree");
                console.log(imgsUrls);

                //Get files
                for (var i = 0; i < e.target.files.length; i++) {
                    var imageFile = e.target.files[i];
                    uploadImageAsPromise(imageFile,form.owner.value);
                }
            });
            function uploadImageAsPromise (imageFile,pathImg) {
                return new Promise(function (resolve, reject) {
                    var storageRef = firebase.storage().ref("unitsImages/"+pathImg+"/"+imageFile.name);

                    //Upload file
                    var task = storageRef.put(imageFile).then((snapShot)=>{
                        snapShot.ref.getDownloadURL().then(function(url){
                            console.log(url);
                            imgsUrls.push(url);
                        });
                    });

                    //Update progress bar
            
                });
            }


            function editInfoFunction() {
                const modalVar = document.getElementById("myModal");
                const modalVarOne = document.getElementById("modalOne");
                modalVarOne.style.display = "block";
                modalVar.style.display = "block";

                const modalVarTwo = document.getElementById("modalTwo");
                modalVarTwo.style.display = "none";

                const modalVarThree = document.getElementById("modalThree");
                modalVarThree.style.display = "none";

                var closeSpan = document.getElementsByClassName("close")[0];
                closeSpan.onclick = function () {
                    modalVar.style.display = "none";
                }
                window.onclick = function (event) {
                    if (event.target == modalVar) {
                        modalVar.style.display = "none";
                    }
                }

                var cancelSpan = document.getElementById("cancelOne");
                cancelSpan.onclick = function () {
                    modalVar.style.display = "none";
                }

                var saveSpan = document.getElementById("saveOne");
                saveSpan.onclick = function () {
                    // INSERT CHANGES HERE
                    modalVar.style.display = "none";
                }

            }
        }

    </script>

</head>

<body>

    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div id="modalOne" class="modalEditInfo">
            <span class="close">&times;</span>
            <form id="editInfoForm">
                <h2>Edit Personal Information</h2>

                <!-- <label for="fullName"><b>New Name</b></label>
                <input id="fullName" type="text" placeholder="Enter Full Name" name="fullName" required> -->

                <label for="email"><b>New Email</b></label>
                <input id="newEmail" type="text" placeholder="Enter Email" name="email" required>

                <!-- <label for="phone"><b>New Phone Number</b></label> -->
                <!-- <input id="newPhone" type="text" placeholder="Enter Phone Number" name="phone" required> -->
                <label for="bankAcoount"><b>New Bank Account</b></label>
                <input id="newBankAccount" type="text" placeholder="Enter Bank Account" name="bankAccount" required>


            </form>
            <div class="clearfix">
                <button id="saveOne" type="submit" class="saveChangesBtn" onclick="saveChanges()">Save Changes</button>
                <button id="cancelOne" type="button" class="cancelbtn" onclick="cancelModal()">Cancel</button>
            </div>
        </div>


        <div id="modalTwo" class="modalEditInfoTwo">
            <span id="closeTwo" class="close">&times;</span>
            <form id="editInfoFormTwo">
                <h2>Edit Unit Information</h2>

                <form name="modalName">
                    <legend>Contact Form</legend>
                    <p>Unit location: <input id="locationModal" name="location" type="text" size="30"></p>
                    <p>Rooms: <input id="roomzModal" name="rooms" type="text" size="30"></p>
                    <p>Price: <input id="priceModal" name="price" type="text" size="30"></p>
                    <p>Rating: <input id="ratingModal" name="rating" type="text" size="30"></p>
                    <p>Owner name: <input id="ownerNameModal" name="owner" type="text" size="30"></p>
                    <p>From date: <input id="startDateModal" name="fromDate" type="text" size="30"></p>
                    <p>Until date: <input id="endDateModal" name="untilDate" type="text" size="30"></p>
                    <p>Phone number: <input id="phoneNumberModal" name="phone" type="text" size="30"></p>
                    <fieldset disabled>
                        <p>Unique UID: <input id="savChangesB" name="uid" type="text" size="30"></p>
                    </fieldset>

                </form>

            </form>
            <div class="clearfix">
                <button id="saveTwo" type="submit" class="saveChangesBtn" onclick="saveChanges()">Save Changes</button>
                <button id="cancelTwo" type="button" class="cancelbtn" onclick="cancelModal()">Cancel</button>
            </div>
        </div>

        <div id="modalThree" class="modalEditInfoThree">
            <span id="closeThree" class="close">&times;</span>
            <form id="editInfoFormThree">
                <h2>Edit Unit Information</h2>

                <form name="modalName">
                    <legend>Contact Form</legend>
                    <p>Unit location: <input id="locationModal" name="location" type="text" size="30"></p>
                    <p>Rooms: <input id="roomzModal" name="rooms" type="text" size="30"></p>
                    <p>Price: <input id="priceModal" name="price" type="text" size="30"></p>
                    <p>Rating: <input id="ratingModal" name="rating" type="text" size="30"></p>
                    <p>Owner name: <input id="ownerNameModal" name="owner" type="text" size="30"></p>
                    <p>From date: <input id="startDateModal" name="fromDate" type="text" size="30"></p>
                    <p>Until date: <input id="endDateModal" name="untilDate" type="text" size="30"></p>
                    <p>Phone number: <input id="phoneNumberModal" name="phone" type="text" size="30"></p>
                    <div id="imgup">
                        <label for="img">Add unit images</label>
                        <!--only for Students-->
                        <input type="file" multiple="multiple" id="img" name="img" accept="image/x-png"><br>
                        <!--add required field-->
                    </div>
                    <img id="prevImage" />
                </form>

            </form>
            <div class="clearfix">
                <button id="saveThree" type="button" class="saveChangesBtn" onclick="saveChanges()">Save
                    Changes</button>
                <button id="cancelThree" type="button" class="cancelbtn" onclick="cancelModal()">Cancel</button>
            </div>
        </div>

    </div>

    <div class="renterButtons">
        <div class="actionButtons">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick=addNewAppartmentFunction();>Add
                New Appartment</button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick=showMyContractsFunction();>Show
                My Contratcs</button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick=editInfoFunction();>Edit User
                Info</button>
        </div>
    </div>

    <input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search for names.." title="Type in a name">

    <h2>Appartments</h2>
    <table id="myTable">
        <thead>
            <tr>
                <th>
                    <div>Location<button class="button btnStyle" onclick="sortUp('location')"> <img
                                src="/images/sortUp.jpg"> </button> <button id="sortDown" class="button btnStyle"
                            onclick="sortDown('location')"><img src="/images/sortDown.jpg"></button></div>
                </th>
                <th>
                    <div>Rooms<button class="button btnStyle" onclick="sortUp('rooms')"> <img src="/images/sortUp.jpg">
                        </button> <button id="sortDown" class="button btnStyle" onclick="sortDown('rooms')"><img
                                src="/images/sortDown.jpg"></button></div>
                </th>
                <th>
                    <div>Price<button class="button btnStyle" onclick="sortUp('price')"> <img src="/images/sortUp.jpg">
                        </button> <button id="sortDown" class="button btnStyle" onclick="sortDown('price')"><img
                                src="/images/sortDown.jpg"></button></div>
                </th>
                <th>
                    <div>Rating<button class="button btnStyle" onclick="sortUp('rating')"> <img
                                src="/images/sortUp.jpg"> </button> <button id="sortDown" class="button btnStyle"
                            onclick="sortDown('rating')"><img src="/images/sortDown.jpg"></button></div>
                </th>
                <th>
                    <div>Owner name<button class="button btnStyle" onclick="sortUp('ownerName')"> <img
                                src="/images/sortUp.jpg"> </button> <button id="sortDown" class="button btnStyle"
                            onclick="sortDown('ownerName')"><img src="/images/sortDown.jpg"></button></div>
                </th>
                <th>
                    <div>Start date<button class="button btnStyle" onclick="sortUp('startDate')"> <img
                                src="/images/sortUp.jpg"> </button> <button id="sortDown" class="button btnStyle"
                            onclick="sortDown('startDate')"><img src="/images/sortDown.jpg"></button></div>
                </th>
                <th>
                    <div>End date<button class="button btnStyle" onclick="sortUp('endDate')"> <img
                                src="/images/sortUp.jpg"> </button> <button id="sortDown" class="button btnStyle"
                            onclick="sortDown('endDate')"><img src="/images/sortDown.jpg"></button></div>
                </th>
                <th>Phone number</th>
                <th>picture</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            <% for(var i = 0; i < l.length; i++) { var obj = l[i];%>
                <tr>
                    <tl>
                        <td><a href="#"> <%= obj.data.location      %></a></td>
                        <td><a href="#"> <%= obj.data.rooms         %></a></td>
                        <td><a href="#"> <%= obj.data.price         %></a></td>        
                        <td><a href="#"> <%= obj.data.rating        %></a></td>                   
                        <td><a href="#"> <%= obj.data.ownerName     %></a></td> 
                        <td><a href="#"> <%= obj.data.startDate     %></a></td> 
                        <td><a href="#"> <%= obj.data.endDate       %></a></td>
                        <td><a href="#"> <%= obj.data.phoneNumber   %></a></td>
                        <td><a href="#"><img src=""></a></td>
                        <td style="display:none;"><button value= <% obj.id %> </button></td>

                    </tl>
               </tr>
            <% } %>
    </tbody>
    </table>
    <script type="text/javascript" src="/js/rentApp.js"></script>

</body>

</html>